*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
body{
	height: 100vh;
	background-repeat: no-repeat;
	--white: #FAFAFA;
	--blue: #090716;
	--light: #0C0A1ACC;
	background-color: var(--blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;	
	justify-content: space-between;
	background-image: url('logo.jpg');
	background-position: center;
	background-blend-mode: lighten;
}
.container{
	display: flex;
	flex-direction: column;
	flex: 19;
	justify-content: center;
	height: 100vh;
	align-items: center;
}
header{
	color: #FAFAFA;
	padding: 12px;
	font-family: Lora;
	position: absolute;
	top: 4vh;
	animation: appear both 3s 0.3s;
	font-size: clamp(18px, 3.8vw, 34px);
	letter-spacing: 4px;
}
header, footer{
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	filter: drop-shadow(0 0 3px #000);
	font-weight: 100;
}
form{
	animation: appear both 2s 1.2s;
	padding: 14px;
	height: clamp(100px, 46vh, 600px);
	width: clamp(200px, 42vw, 1200px);
	max-width: 90vw;
	color: #eaeaea;
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light);
	border-radius: 5px;
	box-shadow: 0 0 20px #0004;
	justify-content: space-evenly;
}
input{
	background-color: #FAFAFA;
	padding: 8px 6px;
}
.flex-inputs{
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 6px;
}
input[type=text], .flex-inputs{
	width: clamp(80px, 66%, 800px);
}
input[type=number]{
	flex: 4;
}
input:focus, input:hover, button:hover{
	border-color: var(--blue);
    box-shadow: 0 0 12px var(--blue);
}
button, input{
	border-radius: 3px;
	border: 1px solid var(--light);
	background-color: var(--white);
	outline: none;
	transition: border-color 0.3s, box-shadow 0.4s;
}
button{
	padding: 4px 6px;
	flex: 1;
	width: clamp(20px, 25%, 300px);
	font-size: clamp(9px, 1.5vw, 12px);
}
.dni{
	width: 100%;
}
footer{
	animation: appear both 2.6s 0.6s;
	box-shadow: 0 0 20px #0004;
	background-color: var(--light);
	padding: 12px;
	font-size: clamp(8px, 1.2vw, 12px);
	color: #eaeaea;
}
@keyframes appear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@container (max-width: 300px){
	button{
		display: none;
	}
}
@media (max-width: 500px){
	form{
		width: clamp(220px,75vw, 490px);
	}
	.container{
		min-width: 78vw;
	}
	input[type=text], .flex-inputs{
	width: clamp(40px, 84%, 800px);
}
	header{
		letter-spacing: 3px;
		top: 8vh;
	}
}
