*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
body{
	height: 100vh;
	background-repeat: no-repeat;
	--blue: #090716;
	--light: #0C0A1ACC;
	background-color: var(--blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	justify-content: space-between;
	background-image: url('logo.jpg');
	background-position: center;
	background-blend-mode: lighten;
}
.container{
	display: flex;
	flex-direction: column;
	flex: 19;
	justify-content: center;
}
input{
	padding: 7px;
	border-radius: 3px;
	border: none;
	max-width: 80%;
}
form{
	animation: appear both 2s 0.6s;
	padding: 14px;
	height: clamp(100px, 40vh, 600px);
	width: clamp(400px, 40vw, 1800px);
	color: #eaeaea;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light);
	border-radius: 5px;
	box-shadow: 0 0 20px #0004;
	justify-content: space-evenly;
}
footer{
	animation: appear both 2.6s 0.6s;
	position: relative;
	box-shadow: 0 0 20px #0004;
	background-color: var(--light);
	bottom: 0;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding: 8px;
	font-size: 0.75em;
	color: #eaeaea;
}
@keyframes appear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
